.flex-container > div{
    background-color: #96d4e4;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    border: 2px solid black;
}
.flex-container{
    display: flex;
}